.custom-offcanvas {
  height: 70vh; /* Set the desired height */
  top: 15% !important; /* Center the Offcanvas vertically */
  border-top-left-radius: 15px; /* Round the top-left corner */
  border-bottom-left-radius: 15px; /* Round the bottom-left corner */
}
