@import "./styles/custom.scss";

/* Normalize.css reset for consistency */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.d-flex.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}


.header-navbar {
  color: map-get($theme-colors, "dark") !important;

  .container {
    margin: 0;
    justify-content: space-between;
  }

  a:hover,
  .navbar-brand:hover {
    color: #ddd !important;
    text-decoration: none;
  }

  a.active,
  .navbar-brand.active {
    font-weight: bold;
  }

  .brand-bold {
    font-weight: bold;
  }


  .navbar-toggler {
    outline: none;
    box-shadow: none;
  }

  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar-toggler:active {
    background-color: transparent !important;
    border: none;
  }

  .navbar-toggler:hover {
    background-color: transparent !important;
  }

}

.scrollable-list-documents {
  padding: 1rem;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: visible;
}

.container-fluid {
  padding: 0;
}

.document-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.document-card-linked {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: map-get($theme-colors, "info");
}

.document-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.table-container {
  padding-top: 20px;
}

.table-container .table {
  margin-top: 70px;
  margin-bottom: 70px;
}

.table-container .table tbody tr {
  height: 60px;
}

.brick-button {
  background-color: map-get($theme-colors, "dark") !important;
  border-color: map-get($theme-colors, "dark") !important;
  color: map-get($theme-colors, "light") !important;
}
.divider {
  border-bottom: 2px solid map-get($theme-colors, "light");
  margin: 0;
}
.brick-button:hover {
  background-color: #51576d !important;
  border-color: #51576d !important;
}

.document-modal {
  width: 70%;
  border-radius: 8px;
  z-index: 1000;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-weight: 600;
  color: map-get($theme-colors, "dark");
}

.modal-body {
  padding: 1.5rem;
  max-height: 65vh; /* Adjust as needed */
  overflow-y: auto;
}

.document-info {
  display: flex;
  flex: 1;
}

.info-section {
  flex: 1;
  margin-right: 1rem;
}

.description-area {
  flex: 1;
}

.description-area label {
  font-weight: 500;
  color: map-get($theme-colors, "primary");
  width: 40%;
}

.info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-item label {
  font-weight: 500;
  color: map-get($theme-colors, "primary");
  width: 40%;
}

.info-item span {
  flex: 1;
  text-align: right;
}

.divider {
  border-bottom: 1px solid map-get($theme-colors, "secondary");
  margin: 0.5rem 0;
}

.divider-vertical {
  width: 1px;
  background-color: map-get($theme-colors, "secondary");
  margin: 0 1rem;
}

.description-textarea {
  width: 100%;
  border: 1px solid map-get($theme-colors, "secondary");
  border-radius: 4px;
  padding: 0.5rem;
  resize: none;
}

.description-textarea label {
  font-weight: 500; /* Medium weight for labels */
  color: map-get($theme-colors, "secondary"); /* Subtle gray for labels */
  width: 40%; /* Fixed width for labels */
}

.modal-footer {
  border-top: none;
  justify-content: space-between;
}

button {
  transition: background-color 0.2s ease;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.document-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.document-card-text {
  font-size: 0.9rem;
  color: map-get($theme-colors, "dark");
  margin-bottom: 0.5rem;
}

.bg-linked-document {
  background-color: map-get($theme-colors, "dark");
  color: map-get($theme-colors, "secondary");
}

.slider {
  position: fixed;
  right: -320px;
  top: 20px;
  width: 300px;
  height: calc(100% - 40px);
  background: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease, opacity 0.3s ease;
  border-radius: 8px;
  padding: 20px;
  opacity: 0;
}

.slider.open {
  right: 20px;
  opacity: 1;
}

.slider .snippet-item {
  padding: 5px; /* Reduce padding for snippet items in slider view */
}

.slider-card {
  padding: 0.5rem;
  font-size: 0.8rem;
}

.slider-card .document-card-title {
  font-size: 1rem;
}

.slider-card .document-card-text {
  font-size: 0.8rem;
}

.close-button {
  position: absolute;
  bottom: 10px;
  left: 85%;
  transform: translateX(-50%);
}

.snippet-item {
  border-bottom: 1px solid map-get($theme-colors, "white");
}

.snippet-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.snippet-type,
.snippet-scale,
.snippet-issuance-date {
  font-size: 0.9rem;
  color: map-get($theme-colors, "dark");
}

.snippet-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100% - 60px); /* Increase max-height */
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  padding-top: 20px; /* Add this line to add padding to the top */
  padding-bottom: 20px; /* Add padding to the bottom */
  margin-bottom: 0; /* Remove margin from bottom */
}

.modal-content {
  background: map-get($theme-colors, "white");
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 20px;
}

.notification-toast {
  z-index: 1056;
  position: fixed;
  top: 105px;
  right: 20px;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: map-get($theme-colors, "secondary");
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  z-index: 1000; /* Ensure it’s above any background elements */
}