// src/styles/custom.scss
$theme-colors: (
  "primary": #51232A,
  "secondary": #A39E8C,
  "danger": #E62667,
  "success": #64993C,
  "dark": #191A19,
  "white": #FBFAF3,
  "light": #A3C5C1,
  "warning": #FBBD6F,
  "info": #755953
);

@import "node_modules/bootstrap/scss/bootstrap";

.btn-success {
  color: map-get($theme-colors, "white");
}

.btn-success:hover {
  color: map-get($theme-colors, "white" );
}
